@font-face {
    font-family: "Horizon";
    src: url("../assets/fonts/Horizon_Regular.otf") format("otf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Oswald-Medium";
    src: url("../assets/fonts/Oswald-VariableFont_wght.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Oswald-Light";
    src: url("../assets/fonts/Oswald-VariableFont_wght.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: "Oswald-Bold";
    src: url("../assets/fonts/Oswald-VariableFont_wght.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

.fontload{
  visibility:hidden;
  position: absolute;
  left: -9999px;
}